<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <title></title>
  <!-- <link rel='stylesheet' type='text/css' href='/static/css/style.css'> -->
</head>
<form action="/">
    <input type="submit" value="Go Home!">
</form>

<form action="/players">
    <input type="submit" value="Create More Players!">
</form>
<h1>Your Players!</h1>


<div class="container">


      <% for (i=0; i < playerz.length; i++) { %>
      <table>

        <tbody>
          <tr>
         <td>  Name </td>
            <td>:</td>
            <td><%= playerz[i].name %></td>
          </tr>
          <tr>
            <td>Team</td>
            <td>:</td>
            <td><%= playerz[i].team %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td>:</td>
            <td><%= playerz[i].positionPlayed %></td>
          </tr>
          <tr>
            <td>Value</td>
            <td>:</td>
            <td><%= playerz[i].value %></td>
             <td><a href="/players/edit/<%=playerz[i]._id%>">Edit</a></td>
          </tr>
        </tbody>
        <br>
      </table>


  <% } %>



    </div>




















</body>
</html>
